@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

body{
    background-color: #000000;
    font-family: "Lexend", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.sócratesfilósofo{
    text-align: center;
}

.oi{
    color: #00ffff;
    font-size: 100px;
    font-weight: bold;
}

.nãosei{
    display: flex;
}
  
.tudo{
    color: #ff00ff;
    font-size: 50px;
}
  
.bem{
    color: #ffff00;
    font-size: 50px;
}